body {
    background-size: 75%;
    background-color: wheat;
    margin-right: 20%;
    margin-left: 20%;
    
}

header {
    height: 6rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 7px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);

    
  
  }

  h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    margin-bottom: 3%;
  }

  /* table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  } */

  table {
      border-spacing: 5px;
      width: 75%;
      margin-left: 16%;

  }

  th {
      padding: 14px;
      font-family: 
  }

  td {
      padding: 5px;
  }

  
  
  
  #title {
    text-align: center;
    padding: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

    
  }
  #add-task {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 1%;

  }

  #task-table {
    margin: 1%;
    padding-bottom: 75%;
    background-image: url(vendors/Colored\ College\ Ruled\ Paper-1.png);
    background-size: cover;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em 1em rgba(0, 0, 0, .5);


  }

  #to-do-title {
      text-align: center;
  }






