body {
    background-size: 75%;
    background-color: wheat;
    margin-right: 20%;
    margin-left: 20%;
    font-size: 1vw;
    margin-bottom: max(100px);

    
}

header {
    height: 6rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 7px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);

    
  
  }

  h2 {
    font-family: Delius-Regular;
    text-decoration: underline;
    margin-bottom: 2%;
  }

  /* table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  } */

  table {
      border-spacing: 5px;
      width: 82%;
      margin-left: 16%;
      table-layout: fixed;
  }

  th {
      padding: 14px;
      text-align: center;
  }

  td {
      padding: 5px;
      text-align: center;
      background-color: rgba(245, 245, 245, 0.904);
      font-family: Delius-Regular;
    
      }

  .task-column {
      width: 40%;
      white-space: nowrap;
      }

  .form-control {
        width: 25%;
      }

      @media (max-width: 768px) {
        .btn-responsive, .input-group {
          padding:2px 4px;
          font-size:80%;
          line-height: 1;
        }
      }
      
      @media (min-width: 769px) and (max-width: 992px) {
        .btn-responsive, .input-group {
          padding:4px 9px;
          font-size:90%;
          line-height: 1.2;
        }
      }

  
  #title {
    text-align: center;
    padding: 20px;
    font-family:Delius-Regular;
    font-weight: bold;

    
  }
  #add-task {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 1%;
  }

  #image {
    background-image: url(vendors/Colored\ College\ Ruled\ Paper-1.png);
    background-size: 60vw;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em 1em rgba(0, 0, 0, .5);
    padding-top: 5px;
  }

  #task-table {
    margin: 1%;
    padding-bottom: 75%;


  }

  #to-do-title {
      text-align: center;
  }

  #countText {
    margin: 5px;
  }








